.triangle {
    width: 0px;
    height: 0px;
    border-left: 25px solid #232328;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -24px;
}

#paiement-modal {
    top:10%;
    right:50%;
    max-height:750px; 
    overflow-y:auto;
}

.paiement_Box {
    top: -538px;
    z-index: -1;
    transition: transform 330ms ease-in-out;
}


.paiement_Box .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


@media only screen and (max-width: 700px) { 
    #paiement-modal {
        width: 220%;  
    }
}

#modal_head1 {
    background-image: url("../1eme\ page\ grande/image-page-1/profile_paiement.png"), linear-gradient(180deg, black, #04011d);
    background-repeat: no-repeat;
    background-size: 100px 100px, auto;
    background-position: center;
    -webkit-filter: blur(px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
    position: relative;
    height: 100px;
    border-bottom: 0 none;
}

div[class = "modal-header modal_head2"] {
    border-bottom: 0 none;
}

#paiement-modal hr {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

#paiement-modal .modal-title {
    position: absolute;
    top: 25px;
    left: 20px;
}

#paiement-modal button {
    position: absolute;
    right: 10px;
}

#paiement-modal .modal-content {
    background-color: #04011d;
    border:2px solid; 
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
} 

#paiement_Box_amazonpay .modal-content,
 #paiement_Box_googlepay .modal-content,
  #paiement_Box_card .modal-content,
   #paiement_Box_crypto .modal-content,
    #paiement_Box_paypal .modal-content {
    background-color: #04011d;
    border: none;
}

#paiement-modal p {
    font-size: 12px;
}

#paiement-modal .form-group {
    width: auto;
    min-height: 50px;
    background-color: #232328;
    box-shadow: 2px 2px 5px #888888;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#paiement-modal .form-group:hover {
    background-color: #888888 !important;
}

#button_plus {
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    box-shadow: 0px 0px 7px #ef473a;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#paiement-modal select {
    width: 100%;
    background: #232328;
    border: none;
    color: white;
    border-radius: 2px;
}

/* Chrome, Safari, Edge, Opera */
#input_expire_card::-webkit-outer-spin-button,
#input_expire_card::-webkit-inner-spin-button {
    -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#input_expire_card {
  -moz-appearance: textfield;
}

 .paiement_method {
    border: none;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    box-shadow: 0px 0px 15px #4a00e0;
    outline: none;
    padding: 5px;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    color: white;
    width: 50%;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
}



#confirm_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

#confirm_input p {
    margin-bottom: 0;
}

#paiement-modal  option {
    color: black;
    background: white;
}

/* check box*/

  
.custom-control-input-green:checked~.custom-control-label::before {
    border:  none !important;
    background: #ef473a !important;
    background: linear-gradient(to right, #cb2d3e, #ef473a) !important;
    box-shadow: 0px 0px 7px #ef473a !important;
  }

  .custom-control-input-green:not(:focus)~.custom-control-label::before {
    background:  #04011d;
    border: none !important;
  }

  .custom-control-input-black:checked~.custom-control-label::before {
    border:  none !important;
    background: #ef473a !important;
    background: linear-gradient(to right, #cb2d3e, #ef473a) !important;
    box-shadow: 0px 0px 7px #ef473a !important;
  }

  .custom-control-input-black:not(:focus)~.custom-control-label::before {
    background:  white;
    border: none !important;
  }

/*end check box */

#close_modal1, #close_modal2 {
    text-shadow: 0px 0px 7px #ef473a;
    color: #ef473a;
}

#close_modal1:hover, #close_modal2:hover {
    text-shadow: 0px 0px 7px white;
    color: white;
}

.recommand {
    background: #ef473a !important;
    background: linear-gradient(to right, #cb2d3e, #ef473a) !important;
    box-shadow: 0px 0px 7px #ef473a !important;
    color: white;
    position: absolute;
    height: 15px;
    width: 70px;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 10px;
    transform: translateY(-7px);
}

#modalPaiement .modal-body form .form-group {
    position: relative;
}

div[class = "modal-dialog paiement_Box"] .modal-body p span {
    text-shadow: 0px 0px 7px #ef473a;
    color: #ef473a;
}

#confirm_input a {
    text-shadow: 0px 0px 7px #ef473a;
    color: #ef473a;
}


