html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #04011d;
}


#titleshop{
    padding-top: 160px;
}
  
body{
    background: #04011d;
}

.container1{
    padding-right: 40px;
}
.container2{
    padding-left: 40px;
}

.card{
    height: 390px;
    width: 300px;
    background-color: #0E0E0E;
    background-image: url("imglol.png");
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-style: preserve-3d;
}

#photo{
    height: 90px;
    font-size: 5em;
    color: #fff;
    transition: 1s;
}

.card:hover #photo{
    transform: translateZ(100px);
}

.card2{
    height: 390px;
    width: 300px;
    background-color: #0E0E0E;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#photo2{
    height: 120px;
    font-size: 5em;
    color: #fff;
    transition: 1s;
}

.card2:hover #photo2{
    transform: translateZ(100px);
}

.container_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container1 {
    max-width: 500px !important;
}

