html {
    overflow-x: hidden;
}
html, body {
    min-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #04011d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#titleshop{
    padding-top: 160px;
}
  
body{
    background: #04011d;
}

.container1{
    width: 288px;
 
}
.container2{
  
   width: 300px;
    
}

.card{
    height: 390px;
    width: 100%;
    background-color: #0E0E0E;
    background-image: url("imglol.png");
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-style: preserve-3d;
}

.card2{
    height: 390px;
    width: 100%;
    background-color: #0E0E0E;
    border-radius: 30px;
  
    transform-style: preserve-3d;
    padding-top: 100px;
}

#photo{
    height: 90px;
    font-size: 5em;
    color: #fff;
    transition: 1s;
}

.card:hover #photo{
    transform: translateZ(100px);
}



#photo2{
    height: 120px;
    font-size: 5em;
    color: #fff;
    transition: 1s;
}

.card2:hover #photo2{
    transform: translateZ(100px);
}

.container_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container1 {
    max-width: 500px !important;
}

#vide {
    height: 30px;
    width: 200px;
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    #vide {
        height: 30px;
        width: 50px;
    }
}


