html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #04011d;
}

h2{
    font-weight: bold;
}
h1{
    font-weight: bold
}

#deco {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  #deco::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
  }
  #deco:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }



/*--INSCRIPTIONPWD--*/


.invalidorvalid{
    box-shadow: 0 0 5px 1px red;
}

.invalidorvalid:valid {
    box-shadow: 0 0 5px 1px green;
}

/*--INSCRIPTIONPWD end--*/

  
/*--SECTION 1--*/



.sec1 .offres button {
    border: none;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    border-radius: 10px;
    min-width: 280px;
    transition: 0.5s;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
}

.sec1 .offres button.premium {
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    box-shadow: 0px 0px 10px #ef473a;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
}

.sec1 .offres button.premium:hover {
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 10px #ef473a75;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
}

.sec1 .offres button.buy-np {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    box-shadow: 0px 0px 10px #4a00e0;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
}

.sec1 .offres button.buy-np:hover {
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px 10px #4a00e075;
    outline: none;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
}

.sec1 .mouse,
.sec1 .intro {
    max-width: 1600px;
}

.sec1 .img-hover-zoom--brightness {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.sec1 .img-hover-zoom--brightness img {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transition: transform 2s, filter 1.5s ease-in-out;
    -webkit-transition: transform 2s, filter 1.5s ease-in-out;
    -moz-transition: transform 2s, filter 1.5s ease-in-out;
    -ms-transition: transform 2s, filter 1.5s ease-in-out;
    -o-transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
}
  
.sec1 .img-hover-zoom--brightness:hover img {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    transform: scale(1.3);
    -webkit-transition: scale(1.3);
    -moz-transition: scale(1.3);
    -ms-transition: scale(1.3);
    -o-transition: scale(1.3);
}

.sec1 .img-hover-zoom--brightness:hover .dot {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50px;
    z-index: 5;
    cursor: pointer;
    transition: 0.5s;
}

#img{
    border: 15px solid #000000;
    border-radius: 10px;
}



/*--FIN SECTION 1--*/

/*--MODAL--*/

#premiumbuycombien, #title_paypal{
    text-shadow: 0px 0px 5px white;
}

#premium-modal .modal-content,
#buy-modal .modal-content {
    border-radius: 5px;
    overflow: hidden;
    background-color: #232328;
}

#buy-modal .modal-content {
    max-width: 350px;
}

#premium-modal .color-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    
}

#buy-modal .color-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

#buy-modal .btn {
    background: linear-gradient(to right, #8e2de2, #4a00e0) !important;
}

.modal .divider {
    width: 90%;
    height: 2px;
    background-color: white;
}

#buy-modal .modal-content {
    max-width: 350px;
    margin: 20px 0;
}

@media (max-width: 1220px) {
    #buy-modal .modal-content {
        margin: 10px 0;
    }
}

@media (max-width: 850px) {
    #buy-modal .modal-dialog {
        margin-top: 100px;
    }
}

@media (min-width: 751px) {
    #premium-modal .modal-dialog {
        max-width: 1000px !important;
        justify-content: center;
    }

    #buy-modal .modal-dialog {
        max-width: 1500px !important;
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 750px) {
    .modal.show .modal-dialog {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #premium-modal .modal-content {
        border-radius: 5px;
        overflow: hidden;
        background-color: #232328;
        margin: 10px 0;
    }
}

/*--FIN MODAL--*/

.givewayh2{
    color: white;
}
.givewayh3{
    color: white;
    margin-left: 30px;
}

/*--Paiement modal--*/


.triangle {
    width: 0px;
    height: 0px;
    border-left: 25px solid #232328;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -9px;
}
#paiement-modal {
    top:10%;
    right:50%;
    max-height:600px; 
    overflow-y:auto;
}

.paiement_Box {
    top: -615px;
    z-index: -1;
    transition: transform 330ms ease-in-out;
}

.paiement_Box .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


@media only screen and (max-width: 700px) { 
    #paiement-modal {
        width: 220%;  
    }
}

#paiement-modal .modal-header {
    background-image: url("../1eme\ page\ grande/image-page-1/profile_paiement.png"), linear-gradient(180deg, black, #04011d);
    background-repeat: no-repeat;
    background-size: 100px 100px, auto;
    background-position: center;
    -webkit-filter: blur(px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
    position: relative;
    height: 100px;
    border-bottom: 0 none;
}

#paiement-modal hr {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

#paiement-modal .modal-title {
    position: absolute;
    top: 25px;
    left: 20px;
}

#paiement-modal button {
    position: absolute;
    right: 10px;
}

#paiement-modal .modal-content {
    background-color: #04011d;
    border:2px solid; 
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
} 

#paiement_Box_amazonpay .modal-content,
 #paiement_Box_googlepay .modal-content,
  #paiement_Box_card .modal-content,
   #paiement_Box_crypto .modal-content,
    #paiement_Box_paypal .modal-content {
    background-color: #04011d;
    border: none;
}

#paiement-modal p {
    font-size: 12px;
}

#paiement-modal .form-group {
    width: auto;
    min-height: 50px;
    background-color: #232328;
    box-shadow: 2px 2px 5px #888888;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#paiement-modal .form-group:hover {
    background-color: #888888;
}

#button_plus {
    background: linear-gradient(to right, #cb2d3e, #ef473a);
    box-shadow: 0px 0px 7px #ef473a;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#paiement-modal select {
    width: 100%;
    background: #232328;
    border: none;
    color: white;
    border-radius: 2px;
}

 #paiement_paypal {
    border: none;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    box-shadow: 0px 0px 15px #4a00e0;
    outline: none;
    padding: 5px;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    color: white;
}

#paiement_paypal {
    width: 50%;
    font-size: larger;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#confirm_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#confirm_input p {
    margin-bottom: 0;
}

#paiement-modal  option {
    color: black;
    background: white;
}

/* check box*/

  
.custom-control-input-green:checked~.custom-control-label::before {
    border:  none !important;
    background: #ef473a !important;
    background: linear-gradient(to right, #cb2d3e, #ef473a) !important;
    box-shadow: 0px 0px 7px #ef473a !important;
  }

  .custom-control-input-green:not(:focus)~.custom-control-label::before {
    background:  #04011d;
    border: none !important;
  }

  .custom-control-input-black:checked~.custom-control-label::before {
    border:  none !important;
    background: #ef473a !important;
    background: linear-gradient(to right, #cb2d3e, #ef473a) !important;
    box-shadow: 0px 0px 7px #ef473a !important;
  }

  .custom-control-input-black:not(:focus)~.custom-control-label::before {
    background:  white;
    border: none !important;
  }

/*end check box */

#confirm_input a, .paiement_Box p span, .close {
    text-shadow: 0px 0px 7px #ef473a;
    color: #ef473a;
}

.close:hover {
    text-shadow: 0px 0px 7px white;
    color: white;
}

/* bank card */
#flip_card1, #flip_card2 {
    background-color: transparent;
    text-shadow: 0px 0px 7px white;
    color: white;
    cursor: pointer;
}
.form-group-card-back {
    width: 100px;
    position: relative;
    left: 280px;
    color: black;
}

#band {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
}


#flip_card1 {
    position: relative;
    left: 10px;
}

#flip_card2 {
    position: relative;
    width: 0;
    left: 200px;
}

#flip_card2:hover, #flip_card1:hover {
    text-shadow: 0px 0px 7px #ef473a;
    color: #ef473a;
}


.bank-card .form-group-card {
    background-color: transparent;
}

.form-group-card input::placeholder, .form-group-card-end input::placeholder, .form-group-card-back input::placeholder,
 .form-group-card input, .form-group-card-end input,
 .form-group-card-back input {
    font-size: 23px;
}

.line_card_title, .line_card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#input_number::placeholder {
    font-size: 25px;
}

#name-card {
    position: relative;
    right: 15px;
}

.line_card_title {
   align-items: center;
}

.line_card {
    align-items: flex-end;
 }

.bank-card {
    background-color: transparent;
    width: 400px;
    height: 280px;
    perspective: 1000px;
    
  }

 
  
  .bank-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .bank-card-front, .bank-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    
  }
  
  .bank-card-front {
    background-color: #bbb;
    color: black;
    background-image: url('./image-page-2/euro.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
  }
  
  .bank-card-back {
    background-color: #bbb;
    color: white;
    transform: rotateY(180deg);
  }

  #line_card_end {
    align-items: flex-end;
    position: relative;
    right: 25px;
}
#line_card_end .form-group-card-end {
    margin-top: 5px;
 }
/* end bank card */



